
body {
    background-color: #ffe6e6;
}

#title {
    color: #008AFF;
    margin-top: -0px;
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
}

#subtitle {
    color: #00D3FF;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
}

#content-text {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    background: #FFF;
}

img {
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}

.content {
    margin-left: 216px;
    padding: 1px 16px;
    height: 1000px;
}

.language-name {
    margin: 50px;
    padding: 0px;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    color: blue;
}

.navbar {
    list-style-type: none;
    margin: -10px;
    padding: 0px;
    width: 200px;
    background-color: #fff;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.navitem a {
    font-family: "Source Code Pro", monospace;
    font-size: 30px;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    text-align: center;
}

/* make the work, a problem for an other day */
/*
.navitem:first-child a {
padding: 0px;
         margin-top: -20px;
}
*/

.active a {
    background-color: #456;
    color: #fc3;
}

.navitem a:hover {
    background-color: #555;
    color: white;
}
