
body {
    background-color: #FAE2C0;
}

#title {
    color: #008AFF;
    margin-top: -0px;
    font-size: 50px;
    font-family: 'Source Code Pro', monospace;
}

#subtitle {
    color: #1BA8FA;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
}

#content-text {
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    background-color: #FCEADC;
    width: 90%;
    padding: 5px 15px;
}

.lang-logo {
    opacity: 0.5;
    padding-bottom: 30px;
}

.lang-logo:hover {
    opacity: 1;
}

.code-example {
    opacity: 1;
    padding-left: 30px;
}

.content {
    margin-left: 216px;
    padding: 1px 16px;
    height: 1000px;
}

.language-name {
    /* margin: 50px; */
    padding: 0px;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    color: #7700FF;
}

.navbar {
    list-style-type: none;
    margin: -10px;
    padding: 0px;
    width: 230px;
    background-color: #FFDBDB;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.content {
    margin-left: 236px;
    padding: 1px 16px;
    height: 1000px;
}

.navitem a {
    font-family: "Source Code Pro", monospace;
    font-size: 30px;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    text-align: center;
}

/* make the work, a problem for an other day */
/*
.navitem:first-child a {
padding: 0px;
         margin-top: -20px;
}
*/

.active a {
    background-color: #abf;
    color: #afd;
}

.navitem a:hover {
    background-color: #555;
    color: #FFF;
}

.term-link:link {
    color: #779;
}

.term-link:visited {
    color: #559;
}
